// Colors
$dark: #141024;
$white: white;
<<<<<<< HEAD
$gray: #f9f9f9;
=======
>>>>>>> 74004d66775f68a224b561508a8042765fd10ecb
$accent: #D52027;
$text-dark: rgba(20, 16, 36, 0.7);

// Fonts
$font-main: 'Jost', sans-serif;

// Sizes
$container-max: 1750px;
$container-hero: 1190px;