// Colors
$dark: #141024;
$white: white;
$gray: #f9f9f9;
$accent: #D52027;
$text-dark: rgba(20, 16, 36, 0.7);

// Fonts
$font-main: 'Jost', sans-serif;

// Sizes
$container-header: 1750px;
$container-max: 1190px;