.footer {
    &__container {
        max-width: 1720px;
        flex-direction: column;
        padding: 40px 0 40px;
    }

    &__info {
        justify-content: space-between;
        width: 100%;
        }

    &__tel {
        color: $white;
        text-align: right;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: $accent;
        }
    }

    &__descr {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: rgba(255, 255, 255, 0.7);
        
    }
}