:root {
    background-color: #141024;
    font-family: "Jost", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}


.header {
    background-color: #141024;
    text-align: center;
    padding: 30px 0;
}

.header-logo{
    min-width: 245px;
    margin-right: 15px;
}


.header-container {
    max-width: 1750px;
    align-items: center;
    justify-content: space-between;
}

.header-tel {
    position: relative;
    min-width: 265px;
    font-size: 30px;
    margin-left: 15px;
    font-weight: 600;
    line-height: 48px;
}

.nav-list {
    gap: 40px;
}

.nav-link {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: white;
    padding: 3px;
    border: 1px;
}

.container-girl {
    margin: 0 357px;
    padding: 0 15px;
    max-width: 1190px;
}

.girl {
    padding-top: 40px;
}

.left{
    grid-column: 6 span;
}
.right {
    grid-column: 6 span;
}

.girl-image {
    position: relative;
    left: 80px;
}

.girl-title {
    font-weight: 600;
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 112px;
    max-height: 112px;
}

.girl-paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 485px;
    margin-bottom: 75px;
}

.btn-left-girl {
    max-height: 80px;
    padding: 25px 50px;
    border-radius: 5px;
    border: 3px solid transparent;
    background-color: #D52027;
}


.site-container {
    background-color: #141024;
    color: white;
}

.about-school {
    background-color: white;
    padding: 120px 0;
}

.about-container {
    margin: 0 350px;
    padding: 15px 0;
    row-gap: 60px;
}

.about-h {
    margin: 0;
    grid-column: 9 span;
    color: #141024;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
}

.about-logo {
    font-weight: 600;
}

.about-list {
    grid-column: 12 span;
}

.about-item {
    grid-column: 3 span;

}

.about-item-title {
    margin: 0;
    font-size: 70px;
    font-weight: 600;
    line-height: 112px;
    color: #d52027;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(12, 1fr);
}

.descr {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(20, 16, 36, 0.7)
}
 