// Переменные
@import './styles/variables';
@import './styles/fonts';

// Блоки
@import './blocks/about/about';
@import './blocks/header/header';
@import './blocks/hero/hero';
@import './blocks/btn/btn';
@import './blocks/perspectives/persceptives.scss';

// Глобальные стили
body {
  font-family: $font-main;
  background-color: $dark;
  color: $white;
  margin: 0;
  padding: 0;
}

a {
  color: $white;
  text-decoration: none;
}