// Переменные
@import './styles/variables';
@import './styles/fonts';

// Блоки
@import './styles/global';
@import './blocks/about/about';
@import './blocks/header/header';
@import './blocks/hero/hero';
@import './blocks/perspectives/persceptives';
@import './blocks/coaches/coaches';
@import './blocks/package/package';
@import './blocks/forms/forms';
@import './blocks/footer/footer';

// Глобальные стили
body {
  font-family: $font-main;
  background-color: $dark;
  color: $white;
  margin: 0;
  padding: 0;
}

a {
  color: $white;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}